@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url(cat.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 800px;
    height: 200px;
}

h2 {
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 6.5em;
    mix-blend-mode: screen;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
